{
  "presets": [
    "razzle/babel" // NEEDED
  ],
  "plugins": [
    "graphql-tag",
    "import-graphql",
    [
      "babel-plugin-styled-components",

      {
        "fileName": false,
        "displayName": true,
        "ssr": true
      }
    ]
  ]
}
