logs
*.log
npm-debug.log*
.DS_Store

coverage
node_modules
build
build2
.env.local
.env.development.local
.env.test.local
.env.production.local

*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
*.swp
*.

.module-cache

cache
dist
node_modules